body {
  margin: 0px;
  height: 100%;
  background-color: #FAFAFA;

}

.main-layout .left-menu {
  border-right: none;
  height: 100vh;
  background-color: #2A3F54;
}

.main-layout .nav-head {
  position: relative;
  background-color: #f3f2f1;
  border-spacing: 0px;
  border-bottom: solid 1px #D7D7D7;
}

.nav-title {
  color: #666666;
}

.main-layout .main-content {
  padding: 0;
  background-color: #FAFAFA;
}