body {
  margin: 0px;
  height: 100%;
  background-color: #FAFAFA;

}

:root {
  --content-height: 300px;
}

#app {
  height: 100vh;
}

.main-layout .left-menu {
  height: 100vh;
  background-color: #2A3F54;
}

.main-layout .nav-head {
  position: relative;
  background-color: #f3f2f1;
  border-spacing: 0px;
  border-bottom: solid 1px #D7D7D7;
}

.el-menu {
  border-right: solid 1px #2A3F54;
}

.top-title {
  font-size: 22px;
  margin: 16px 0;
  font-weight: bold;
  color: #ECF0F1;
}

.nav-title {
  color: #666666;
}

.main-layout .main-content {
  padding: 0;
  background-color: #FAFAFA;
}

.profile_info {
  margin-left: 12px;
  color: #ECF0F1;
}