body {
  margin: 0px;
  height: 100%;
  background-color: #545c64;

}

.main-layout .el-header {
  position: relative;
  background-color: #545c64;
}

.main-layout .el-menu {
  border-right: none;
  background-color: #545c64;
}

.main-layout .el-main {
  padding: 0;
  background-color: #f2f3f4;

}