<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <script src="vue/vue@next.js"></script>
    <!-- import CSS -->
    <link rel="stylesheet" href="vue/index.css">
    <!-- import JavaScript -->
    <script src="vue/element-plus.js"></script>
    <link rel="stylesheet" href="css/base.css">
    <title>Element Plus demo</title>
</head>

<body>
    <div id="app">
        <el-menu :default-active="activeIndex" mode="horizontal" @select="handleSelect">
            <el-sub-menu index="1">
                <template #title>工具中心</template>
                <el-menu-item index="1-1">日志浏览</el-menu-item>
                <el-menu-item index="1-2">WebSocket</el-menu-item>
            </el-sub-menu>
            <el-sub-menu index="2">
                <template #title>学习中心</template>
                <el-menu-item index="2-1">Vue Center</el-menu-item>
            </el-sub-menu>
        </el-menu>
        <el-tabs v-model="curTab" type="card" closable @edit="handleTabsEdit">
            <el-tab-pane v-for="item in dynamicTabs" :key="item.name" :label="item.title" :name="item.name">
                {{ item.content }}
            </el-tab-pane>
        </el-tabs>
    </div>
    <script>
        const App = {
            data() {
                return {
                    activeIndex: "1",
                    message: "Hello Element Plus",
                    curTab: {},
                    dynamicTabs: []
                };
            },
            methods: {
                handleSelect: function (val) {
                    console.log(val);
                },
                handleTabsEdit: function (val) {

                }
            }
        };
        const app = Vue.createApp(App);
        app.use(ElementPlus);
        app.mount("#app");
    </script>
</body>

</html>