<!DOCTYPE html>
<html>

<head>
    <script src="../js/vue/vue.js"></script>
    <!-- import CSS -->
    <link rel="stylesheet" href="../js/vue/element-ui.css">
    <script src="../js/vue/element-ui.js"></script>
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/dark.css" />
</head>

<body>
    <div id="app"></div>
    <script>
        var vue = parent.vm.getTabData();
        parent.vm.loadVue('../js/component/mbox.vue')
            .then(component => {
                vm = new Vue(component).$mount('#app');
                MBox.install();
                Vue.use(MBox);
            }); 
    </script>
</body>

</html>