:root {
    --menu-top:150px;
    --menu-width: 266px;
    --nav-top: 55px;
    --tab-inset: 56px;
}

#app {
    height: 100vh;
    width: 100vw;
}

/* 滚动条的样式 */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #90939980;
    border-radius: 5px;
}